---
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {date} {category} {author} {image} />
  <section class="mb-8">
    <slot />
  </section>
</MainLayout>
