---
import MainLayout from "./MainLayout.astro";
import { slugify, formatDate } from "../js/utils";
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <header class="flex flex-col items-center justify-center gap-2 my-4">
    <div class="flex items-center justify-around">
      <a
        href={`/category/${slugify(category)}/`}
        class="py-1 px-2 rounded uppercase text-gray-100 text-sm bg-secondary"
      >
        {category}
      </a>
    </div>
    <div>
      <h1 class="text-2xl font-bold">{title}</h1>
      <p class="text-center">
        by
        <a
          href={`/author/${slugify(author)}/`}
          class="underline underline-offset-2 transition hover:text-secondary"
        >
          {author}
        </a>
        &bull; {formatDate(date)}
      </p>
    </div>
  </header>
  <section>
    <slot />
  </section>
</MainLayout>
